@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.App {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  background-color: #fafafa;
background-image: url("https://www.transparenttextures.com/patterns/paper-3.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #232325;
}
